/* Design */

/* Colors - Green for the Green Wave (Marea Verde), Purple for the feminist movement, Pink for femininity and compassion. */
:root{
	--bg: #f1dbf1;
	--surface: #D8E2DC;
	--text: #2a1e38;
	--text-light: #FEc5bb;
	--accent: #fcd5ce;
	--accent2: #fcd5ce;
	--border: rgba(255, 255, 255, 0.8);
	--radius: 18px;
	--transition: .35s ease;
}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
body{
	font-family:"Inter", sans-serif;
}

/* Global spacing for consistent margins */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Body */
body{
	background:var(--bg); /* Uses the value stored in the CSS variable --bg */
	color:var(--text); /* Uses the --text color */
}